*{
    font-family:Bell MT;
    
  }
  main{
     background-image:url(https://4.bp.blogspot.com/-C9RO7uxF_eA/XtlUEpA3C2I/AAAAAAAA12Q/tOrCvs1H45o2U2IcfMpi5FvHS23d01JqwCLcBGAsYHQ/s1600/India_flag_with_emblem.gif);
     background-repeat: no-repeat; 
     background-position: 50%;
     background-size: contain;
    
  }
  body{
     /* background-image: linear-gradient(180deg,#FF671F, orange, white, green); */
    background-color: rgb(255, 255, 134);
    }
  img{
    display:block;
  }
  
  .text{
    font-size:40px;
    text-decoration:underline;
  }
  .title{
    font-size:30px;
    
  }
  #image{
    border-radius:10px;
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
  }
  h1{
   background-image: linear-gradient(45deg,#FF671F, orange, white, green);
   color: blue;
   font-size:50px;
    text-align:center;
  }
  h3{
  text-align:center;
  }
  p{
    
    font-weight:bolder;
    text-align:center;
  }
  i{
    width:20px;
  }
  ol{
      list-style-type:none;
  }
  .box1{
       background-image: linear-gradient(130deg,#FF671F, orange, white, green);
       margin:auto;
       margin:auto;
       width:500px;
    
  }

  header{
    width:100%;
    padding:2px;
    height:110px;  
  }
  